@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import 'tailwindcss';

:root {
  --main             : #f0ece9;
  --brown-dark       : #1d110a;
  --accent           : #a76f53;
  --button           : #5b242a;
  --error            : #e32828;
  --grey             : #727272;
  --pagination-active: #e4e4e4;
  --secondary        : #5f5f5f;
  --white            : #ffffff;
  --black            : #000000;
  --heading1         : 60px;
  --heading2         : 54px;
  --heading3         : 24px;
  --text-second      : 16px;
  --text             : 20px;
  --text-mobile             : 12px;
  --section-indent   : 140px;
  --max-width        : 1440px;
  --padding          : 60px;
  --padding-mobile          : 16px;
  --font-second      : 'Lato', sans-serif;
  --font-main        : 'Manrope', sans-serif;
  --font-third       : 'Merriweather', serif;
}

@layer base {
  body {
    @apply min-w-[320px] bg-[var(--main)] font-[family-name:var(--font-main)] text-[var(--brown-dark)] lg:text-[length:var(--text-second)] text-[length:var(--text-mobile)] lg:font-normal font-light lg:tracking-[1.3] lg:leading-[1.3] tracking-[1.2] leading-[1.2];
  }

  h1 {
    @apply text-[length:var(--heading1)] font-[family-name:var(--font-third)] font-normal leading-[1.2] m-0 p-0;
  }

  h2 {
    @apply lg:text-[length:var(--heading2)] text-2xl font-[family-name:var(--font-third)] font-normal leading-[1.2];
  }

  h3 {
    @apply lg:text-[length:var(--heading3)] text-2xl font-[family-name:var(--font-third)] font-medium leading-[1.3];
  }

  h4 {
    @apply text-[length:var(--text)] font-[family-name:var(--font-main)] font-medium leading-[1.3];
  }

  .container {
    @apply mx-auto lg:!max-w-[var(--max-width)] lg:!px-[var(--padding)] px-[var(--padding-mobile)];
  }

  .section-indent {
    @apply lg:mb-[var(--section-indent)] mb-[52px];
  }

  .btn {
    @apply p-0 h-5 w-5 outline-none cursor-pointer transition-all duration-300;
  }

  .animation-marquee {
    animation: marquee 20s linear infinite;
  }

  .animation-fade-in {
    animation: fall 10s ease-in forwards;
  }

  .swiper-wrapper {
    @apply items-center;
  }

  .label {
    @apply text-[length:var(--text-second)] font-[family-name:var(--font-main)] font-normal leading-[1.3] text-[var(--grey)];
  }
}

@layer components {
  .btn-buy {
    @apply w-[168px] h-[46px] bg-[var(--button)] inline-block text-[var(--main)] py-[10px] px-[50px] border border-solid border-transparent rounded-none outline-none cursor-pointer transition-all duration-300;
  }

  .btn-buy:hover,
  .btn-buy:focus,
  .btn-buy:focus-visible {
    @apply bg-[var(--accent)];
  }

  .btn-buy:active {
    @apply bg-[var(--accent)] border-[var(--grey)] scale-[0.98];
  }

  .btn-buy:disabled {
    @apply bg-[var(--grey)] cursor-not-allowed;
  }

  .btn-send {
    @apply w-[60px] h-[30px] bg-[var(--button)] flex items-center justify-center text-[var(--main)] py-[7px] px-[6px] border border-solid border-transparent rounded-none outline-none cursor-pointer transition-all duration-300;
  }

  .btn-send:hover,
  .btn-send:focus,
  .btn-send:focus-visible {
    @apply bg-[var(--accent)];
  }

  .btn-send:active {
    @apply bg-[var(--accent)] border-[var(--grey)] scale-[0.98];
  }

  .btn-send:disabled {
    @apply bg-[var(--grey)] cursor-not-allowed;
  }

  /* --- Додати в кошик --- */
  .btn-add {
    @apply w-[259px] h-[46px] bg-transparent flex items-center justify-center text-[var(--brown-dark)] py-[10px] px-[24px] border-1 border-solid border-[var(--brown-dark)] rounded-none outline-none cursor-pointer transition-all duration-300;
  }

  /* --- Перейти до оплати --- */
  .btn-checkout {
    @reference bg-accent text-main py-[10px] px-[40px] rounded-[10px] font-sans font-semibold tracking-wide uppercase transition hover: brightness-110 active:scale-[0.97];
  }
}

[data-vaul-drawer][data-vaul-drawer-direction=right]::after {
  display: none;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.letter {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.letter.fade-out {
  opacity: 0;
  transform: translateY(-40px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease forwards;
}